
header {
  padding: 20px;
}

header h1 {
  font-family: 'Londrina Sketch', cursive;
  font-size: 64px;
}

header h2 {
  font-family: 'Swanky and Moo Moo', cursive;
}

#contenthere {
    padding: 20px;
}