%table
  %tbody
  - @cats.each do |item|
    %tr
      %td
        %a{:href => "cat/" + item["_id"].to_s}= item["name"]
      %td
        %a{:href => "cat/" + item["_id"].to_s + "/items"} Items
  %tr
    %td  
      %a(href="cat") New category
    %td