= @cats.count.to_s + " categories"
%table(style="width: 100%;")
  %tbody
  - @cats.each do |item|
    %tr
      %td
        %a{href: "cat/" + item["_id"].to_s}= item["name"]
      %td
        %a{href: "cat/" + item["_id"].to_s + "/items"} Items
      %td
        %span= (item["fields"] || []).count.to_s + " field(s) - "
        %a{href: "cat/" + item["_id"].to_s + "/item"} Add an item
%div
  %a(href="cat") New category